*{
    font-family: Consolas, roboto, Arial, Helvetica, sans-serif;
    line-height: 200%;
    box-sizing:border-box;
    transition: 0.3s;
}

::selection{
    background: var(--selectBackground);
    color: var(--selectText);
}

body{
    background: var(--bodyColor);
}

.container{
    background: var(--backgroundColor);
    height: 96vh;
    width: 92vw;
    margin: auto;
    margin-top: 15px;
    border-radius: 15px;
}

button{
    cursor: pointer;
    user-select: none;
}

button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

button:active{
    transform: scale(1.15);
    transition: 0.2s;
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--mainColor);
}