h1{
    color: var(--mainColor);
    user-select: none;
}

#noteRight{
    float: right;
    width: 63%;
    height: 98.8%;
    border-radius: 12px;
    box-shadow: 0px 0px 21px -6px rgba(0,0,0,0.25);
}

#topBar{
    display: inline-flex;
    margin-left: 20px;
}

#clearAll{
    float: right;
    height: 20%;
    margin: auto;
    margin-left: 60px;
    color: var(--accentColor);
    outline: none;
    background: var(--mainColor);
    border: 0;
    transition: 0.5s;
}

#clearAll:hover{
    transform: scale(1.1);
}

#clearAll:active{
    background: var(--buttonHover);
    transform: scale(1.2);
}

#searchBar{
    height: 20%;
    padding: 7px 0;
    padding-bottom: 6px;
    margin: auto;
    width: 300px;
    margin-left: 50px;
    padding-left: 10px;

    outline: none;
    border: none;
    color: var(--mainColor);
    background: var(--accentColor);
}

#searchBar::placeholder{
    color: var(--searchPlaceholder);
}

/* LIST ELEMENT STYLES */
#noteRightUl{
    width: auto;
}

.noteRightLi{
    list-style-type: none;
    width: 80%;
    height: 39px;
    margin: 20px 0;
    margin-right: 0;
    background-color: var(--accentColor);
    color: white;
}

.listDiv{
    height: 100%;
    width: 80%;
    display: inline-block;
}

.listText{
    padding-left: 10px;
    float: left;
    width: 80%;
    height: 39px;
    padding-top: 2px;
    margin: 0;
    margin-bottom: -6px;

    color: var(--listText);

    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;

    cursor: pointer;
}

.delButton{
    float: right;
    height: 39px;
    width: 40px;
    position: relative;
    right: 60px;
    z-index: 1;
    transition: 0.5s;
    outline: none;
    color: var(--accentColor);
    background: var(--mainColor);
    border: 0px;
}

.editSpan{
    height: 39px;
    width: 62px;
    float: right;
    line-height: 36px;
    position: relative;
    text-align: center;
    left: 40px;
    user-select: none;
    cursor: pointer;
    color: var(--mainColor);
    background: var(--backgroundColor);
    transition: 0.5s;
}

.editSpan:hover{
    background: var(--accentColor);
}

.editPending{
    outline: 1px solid var(--mainColor);
}

/* LIST EXPAND */
.expandLi{
    height: auto;
}

.expandListText{
    height: auto;
    overflow-wrap: break-word;
    white-space: normal;
    text-overflow: clip;
}

/* UL OVERFLOW */
#noteRight{
    overflow-y: scroll;
}