#noteLeft{
    float: left;
    width: 30%;
    height: 98.8%;
    border-radius: 12px;
    box-shadow: 0px 0px 21px -6px rgba(0,0,0,0.25);
}

#textField{
    height: 84%;
    width: 95%;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    margin-left: 15px;

    display: inline-block;
    color: var(--mainColor);
    outline: none;
    overflow-y: scroll;

    border: 1px solid var(--borderColor);
}

#noteSubmit{
    float: right;
    /* margin-top: 10px; */
    margin-right: 15px;

    outline: none;
    font-weight: 300;
    font-size: 15px;
    color: var(--mainColor);
    background: var(--accentColor);
    border: 0;
}

/* TYPO BUTTONS */
#typoButtons{
    height: 7%;
    width: 95%;
    padding-top: -20px;
    margin: auto;
    text-align: left;
    user-select: none;
    position: relative;
    left: 2px;
    top: 7px;
    border: 1px solid var(--borderColor);
}

.fontStyle{
    margin: auto;
    margin: 0 10px;
    margin-top: 7px;
    padding: 2% 3%;

    outline: none;
    color: var(--mainColor);
    background: var(--accentColor);
    border: 0;
    border-radius: 10px;
}

.fontStyle:hover{
    box-shadow: 0px 0px 10px -6px var(--mainColor);
}

.fontStyle:active{
    font-weight: bold;
    transition: 0s;
}